<div class="container">
  <h1 class="title">Angular Todo List App</h1>
  <hr>
  <form class="todo-form" #f="ngForm" name="todo-form" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="input-field col s9">
        <input type="text" name="title" id="title" ngModel>
        <label for="title">Enter Task</label>
        <!-- <input id="button1" type="button" hidden=true (click)="onSubmit(f)" ngModel> -->
      </div>
    </div>
  </form>
  <ul class=" todo-list" *ngFor="let todo of todos">
    <li *ngIf="!this.todo.isComplete">
      <div>
        <div>{{this.todo.title}}</div>
        <div>
          <button (click)="onComplete(this.todo.id)" class="btn-floating waves-effect waves-light green"><i
              class="material-icons">check</i></button>
        </div>
      </div>
    </li>
  </ul>

  <div *ngIf="!todos?.length" class="msg">
    Your Todo List is Empty!
  </div>

  <hr>
  <br>

  <h1 id="completed-tasks">Completed Tasks</h1>
  <hr>
  <ul class="todo-list" *ngFor="let todo of todos">
    <li *ngIf="this.todo.isComplete">
      <div>
        <div>{{this.todo.title}}</div>
        <div>
          <button (click)="onDelete(this.todo.id)" class="btn-floating waves-effect waves-light red"><i
              class="material-icons">delete</i></button>
        </div>
      </div>
    </li>
  </ul>
</div>